/* Write your code here. */

* {
  box-sizing: border-box;
}

.body {
  margin: 0px;
}
.congrats-cont {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  min-height: 100vh;
  background-size: cover;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.congrats-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.12);
  border: 1px solid black;
  background-color: #cffafe;
  margin-top: 15px;
  border: 15px;
  padding: 25px;
}
.des {
  text-align: center;
  color: #1e293b;
  font-family: "Roboto";
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .congrats-card {
    width: 50%;
    padding: 48px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 992px) {
  .congrats-card {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .congrats-card {
    width: 30%;
  }
}
